<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Domain.AppContext" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=Database.sdf;Persist Security Info=False;" />
  </connectionStrings>
  <appSettings>
    <add key="ClientId" value="" />
    <add key="Url" value="http://dummy" />
    <add key="TwitchApiBaseUrl" value="https://api.twitch.tv" />
    <add key="TwitchTmiBaseUrl" value="http://tmi.twitch.tv" />
    <add key="VkClientId" value="" />
    <add key="VkClientSecret" value="" />
    <add key="VkAudioName" value="NAPODHVATE FP" />
    <add key="WhisperOn" value="false" />

    <add key="CommandsConfig" value="Global=30;МмрОбновить=0;ДобавитьСтим=60;УбратьСтим=60;О=0;Мойписюн=15;Эба=10;Рулетка=10;МояРулетка=20" />
    <add key="TimersConfig" value="Global=180;Help=300;UpdateChatters=300" />
    <add key="QuizDelay" value="120" />
    <add key="QuizRestartDelay" value="60" />
    <add key="RouletteTimeout" value="180" />
    <add key="RouletteTop" value="5" />
    <add key="DuelWait" value="60" />
    <add key="DuelDelay" value="5" />
    <add key="DisabledCommands" value="Помощь,ДобавитьСтим,УбратьСтим,МмрОбновить,Задержка" />
    <add key="HybridDelayMulti" value="5" />
  
    <add key="SteamID" value="" />
    <add key="SteamUser" value="" />
    <add key="SteamPass" value="" />
    <add key="SteamMmrDelay" value="3600" />

    <add key="ImapHost" value="imap.yandex.ru" />
    <add key="ImapPort" value="993" />
    <add key="ImapLogin" value="" />
    <add key="ImapPass" value="" />
    <add key="ImapUseSsl" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.net>
    <defaultProxy useDefaultCredentials="true"></defaultProxy>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>
