<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientId" value=""/>
    <add key="Url" value="http://dummy"/>
    <add key="TwitchApiBaseUrl" value="https://api.twitch.tv"/>
    <add key="TwitchTmiBaseUrl" value="http://tmi.twitch.tv"/>
    <add key="VkClientId" value=""/>
    <add key="VkClientSecret" value=""/>
    <add key="VkAudioName" value="NAPODHVATE FP"/>
    <add key="CommandsConfig" value="Global=10;Mmr=30;MmrUpdate=0;Song=30;Music=30;MyTime=30;Шейкер=30;AddSteam=60;RemoveSteam=60"/>
    <add key="TimersConfig" value="Global=180;Help=300;UpdateChatters=120"/>
    <add key="HybridDelayMulti" value="5"/>
  
    <add key="SteamID" value=""/>
    <add key="SteamUser" value=""/>
    <add key="SteamPass" value=""/>
    <add key="SteamMmrDelay" value="3600"/>

    <add key="ImapHost" value="imap.yandex.ru"/>
    <add key="ImapPort" value="993"/>
    <add key="ImapLogin" value=""/>
    <add key="ImapPass" value=""/>
    <add key="ImapUseSsl" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.net>
    <defaultProxy useDefaultCredentials="true"></defaultProxy>
  </system.net>
</configuration>
