<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientId" value=""/>
    <add key="Url" value="http://dummy"/>
    <add key="TwitchApiBaseUrl" value="https://api.twitch.tv"/>
    <add key="TwitchTmiBaseUrl" value="http://tmi.twitch.tv"/>
    <add key="VkClientId" value=""/>
    <add key="VkClientSecret" value=""/>
    <add key="VkAudioName" value="NAPODHVATE FP"/>
    <add key="DelaysConfig" value="Global=10;Mmr=30;MmrUpdate=0;Song=30;Music=30"/>
  
    <add key="SteamID" value=""/>
    <add key="SteamUser" value=""/>
    <add key="SteamPass" value=""/>
    <add key="SteamMmrDelay" value="3600"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.net>
    <defaultProxy useDefaultCredentials="true"></defaultProxy>
  </system.net>
</configuration>
