<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CommandsConfig" value="Global=1;Mmr=3;MmrUpdate=0;Song=3;Music=3;MyTime=3;Шейкер=3;AddSteam=6;RemoveSteam=6;Help=3"/>
    <add key="HybridDelayMulti" value="2"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
